@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --color: rgb(30, 30, 30);
    --primary-color: rgb(224, 0, 0);
    --primary-transparent-color: rgb(255, 243, 243);
}

.app {
    font-family: Nunito;
}

#styledLink {
    text-decoration: none;
    color: black;
}

.items {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fruits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 5px;
    margin: 5px;
}